APP_NAME='JVP'
APP_ENV=local
APP_KEY=base64:9haYx13VOx/iOA9gcBcdf+wEvnoWPa6NaQGQuaWTvCE=
APP_DEBUG=false
APP_URL=https://livedemoproject.com/jvp
MIX_URL=https://livedemoproject.com/jvp/public

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=livedemoproject_jvp
DB_USERNAME=livedemoproject_jvp
DB_PASSWORD='vaxHPl,,p,iy'


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=sendmail
MAIL_HOST=smtp.zoho.com.au
MAIL_PORT=465
MAIL_USERNAME=no_reply@livedemoproject.com
MAIL_FROM_ADDRESS=no_reply@livedemoproject.com
MAIL_PASSWORD=dFeRa3Nd1jqw
MAIL_ENCRYPTION=ssl
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=1169607
PUSHER_APP_KEY=eb4c7ba14e81e70f9420
PUSHER_APP_SECRET=e9e04329c70494b46abf
PUSHER_APP_CLUSTER=ap2

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_API_KEY=AIzaSyBE8uJYoGJlAhnXdLQEoCmWZctvHmdPaPI
GOOGLE_RECAPTCHA_KEY=6LcJ7NIjAAAAAKiQ3vCYnRupEN0iWMgdyEeXfvth
GOOGLE_RECAPTCHA_SECRET=6LcJ7NIjAAAAACu5XAk8ZuqVy-rYg4x1ID0fg2zy


GOOGLE_API_KEY=AIzaSyBUDqA3hUkNhxYp8xuYshJmUQLN2lZIi8Y